Last updated @ Oct 31, 2021

Happy HalloweenðŸ‘»

In [40]:
# import library
import pandas as pd

## Read all movies

- get the full list and the imdbid

In [57]:
df = pd.read_json('http://bechdeltest.com/api/v1/getAllMovies')

In [58]:
df.tail()

      year    imdbid                       title  rating     id
9324  2021   9421570                 Guilty, The       1  10079
9325  2021  11804152                  Till Death       0  10083
9326  2021   4244994              Last Duel, The       3  10085
9327  2021   7097896  Venom Let there be Carnage       2  10092
9328  2021   2452150                     Respect       3  10106

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9329 entries, 0 to 9328
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   imdbid  9329 non-null   object
 1   rating  9329 non-null   int64
 2   id      9329 non-null   int64
 3   year    9329 non-null   int64
 4   title   9329 non-null   object
dtypes: int64(3), object(2)
memory usage: 364.5+ KB

In [44]:
# save dataframe to a csv file
df.to_csv('Bechdel.csv')

## Get movie by imdbid

- then loop through the imdbid in the previous dataframe to get each movie info
- create a new dataframe and output the newer csv file

In [59]:
# create an empty dataframe
df_new = pd.DataFrame(columns=['title', 'year', 'rating', 'dubious', 'imdbid', 'id', 'submitterid', 'date', 'visible'])
df_new

Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: []

In [71]:
count = 1

# call from the latest to the earliest movie, in case the website crashes
for imdbid in df['imdbid'][-1581::-1]:
    series = pd.read_json('http://bechdeltest.com/api/v1/getMovieByImdbId?imdbid=' + str(imdbid), typ='series')
    # print(series)
    df_new = df_new.append(series, ignore_index=True)
    # every 100 movies, we save to a csv file
    if count % 10 == 0:
        df_new.to_csv('Bechdel_detailed_reversed.csv')
    count += 1
df_new.to_csv('Bechdel_detailed_reversed.csv')

In [73]:
df_new

,title,year,rating,dubious,imdbid,id,submitterid,date,visible,description,status,version
0,Respect,2021,3,0,2452150,10106,19654,2021-10-24 21:14:06,1,NaN,NaN,NaN
1,Venom Let there be Carnage,2021,2,0,7097896,10092,19627,2021-10-21 10:11:03,1,NaN,NaN,NaN
2,"Last Duel, The",2021,3,1,4244994,10085,19619,2021-10-20 02:30:29,1,NaN,NaN,NaN
3,Till Death,2021,0,0,11804152,10083,19613,2021-10-18 19:58:48,1,NaN,NaN,NaN
4,"Guilty, The",2021,1,0,9421570,10079,19599,2021-10-10 20:16:13,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
9345,Athlete Swinging a Pick,1881,0,0,7816420,9816,19162,2021-05-13 01:32:14,1,NaN,NaN,NaN
9346,Le singe musicien,1878,0,0,12592084,9806,19151,2021-05-11 23:38:54,1,NaN,NaN,NaN
9347,Sallie Gardner at a Gallop,1878,0,0,2221420,9603,18882,2021-04-03 02:25:27,1,NaN,NaN,NaN
9348,La Rosace Magique,1877,0,0,14495706,9804,19145,2021-05-11 00:11:22,1,NaN,NaN,NaN
9349,Passage de Venus,1874,0,0,3155794,9602,18880,2021-04-02 20:58:09,1,NaN,NaN,NaN

In [74]:
df_new = df_new.reindex(index=df_new.index[::-1])
df_new.to_csv('Bechdel_detailed.csv')

## Check data integrity

- check duplicates
- check row numbers
- check index