In [1]:
import pandas as pd

In [2]:
df = pd.read_json('http://bechdeltest.com/api/v1/getAllMovies')
df.head()

   year  rating    imdbid    id                       title
0  1874       0   3155794  9602            Passage de Venus
1  1877       0  14495706  9804           La Rosace Magique
2  1878       0   2221420  9603  Sallie Gardner at a Gallop
3  1878       0  12592084  9806           Le singe musicien
4  1881       0   7816420  9816     Athlete Swinging a Pick

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9329 entries, 0 to 9328
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    9329 non-null   int64
 1   rating  9329 non-null   int64
 2   imdbid  9329 non-null   object
 3   id      9329 non-null   int64
 4   title   9329 non-null   object
dtypes: int64(3), object(2)
memory usage: 364.5+ KB

In [ ]:
# save dataframe to a csv file
df.to_csv('Bechdel.csv')

In [5]:
df2 = pd.read_json('http://bechdeltest.com/api/v1/getMovieByImdbId?imdbid=3155794', typ='series')
df2

id                            9602
visible                          1
title             Passage de Venus
year                          1874
imdbid                     3155794
submitterid                  18880
dubious                          0
date           2021-04-02 20:58:09
rating                           0
dtype: object