Since the original Bechdel website updates very regularly, I wonder if there is a way for me to add the new movies to Kaggle and keep the dataset on Kaggle updated as well. 

I want to UPDATE the dataset, instead of run `bechdel_api.ipynb` again, wait for 7 hours, and risk crashing the website.

In [27]:
import pandas as pd
import numpy as np

# Load Datasets & Check Updates

In [42]:
# Check the movie list we have now
current_bechdel_detailed = pd.read_csv('../Data/Bechdel_detailed_original.csv')
current_bechdel_detailed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9329 entries, 0 to 9328
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        9329 non-null   object
 1   year         9329 non-null   float64
 2   rating       9329 non-null   float64
 3   dubious      9030 non-null   float64
 4   imdbid       9329 non-null   float64
 5   id           9329 non-null   float64
 6   submitterid  9329 non-null   float64
 7   date         9329 non-null   object
 8   visible      9329 non-null   float64
dtypes: float64(7), object(2)
memory usage: 656.1+ KB

In [43]:
# Get the latest movie list from the Bechdel website
latest_bechdel = pd.read_json('http://bechdeltest.com/api/v1/getAllMovies')
latest_bechdel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9373 entries, 0 to 9372
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rating  9373 non-null   int64
 1   title   9373 non-null   object
 2   imdbid  9373 non-null   object
 3   year    9373 non-null   int64
 4   id      9373 non-null   int64
dtypes: int64(3), object(2)
memory usage: 366.3+ KB

In [44]:
print('Time to update Kaggle dataset?', not (len(current_bechdel_detailed)==len(latest_bechdel)))

Time to update Kaggle dataset? True

# Compare datasets

In order to know what has been updated over the past few months, I ran Bechdel_api.ipynb again to compare datasets. Again, it took about 7 hours. But hopefully, after this one, I will never have to do it again.

In [6]:
old_bechdel_detailed = pd.read_csv('./Bechdel_detailed_original.csv')
new_bechdel_detailed = pd.read_csv('./Bechdel_detailed.csv', index_col=0)
new_bechdel_detailed.tail()

,title,year,rating,dubious,imdbid,id,submitterid,date,visible
9368,Love Hard,2021.0,2.0,0.0,10752004.0,10152.0,19735.0,2021-12-05 19:22:20,1.0
9369,Cruella,2021.0,3.0,0.0,3228774.0,9861.0,19231.0,2021-06-01 03:16:58,1.0
9370,West Side Story,2021.0,3.0,0.0,3581652.0,10157.0,19743.0,2021-12-10 03:10:09,1.0
9371,Every Time a Bell Rings,2021.0,3.0,0.0,15943414.0,10158.0,19744.0,2021-12-10 08:03:02,1.0
9372,Single All The Way,2021.0,3.0,0.0,14315756.0,10161.0,19753.0,2021-12-15 10:10:36,1.0

In [38]:
new, rating_changes, dubious_changes = 0, 0, 0
for index, imdbid in new_bechdel_detailed['imdbid'].iteritems():
    new_series = new_bechdel_detailed.loc[index]
    old_series = old_bechdel_detailed[old_bechdel_detailed['imdbid'] == imdbid]
    if imdbid == 35279:
        old_series = old_series.loc[844]
    elif imdbid == 53285:
        old_series = old_series.loc[951] 
    elif imdbid == 86425:
        old_series = old_series.loc[1952] 
    elif imdbid == 117056:
        old_series = old_series.loc[3232] 
    elif imdbid == 2043900:
        old_series = old_series.loc[6470] 
    elif imdbid == 2457282:
        old_series = old_series.loc[7113] 
    elif imdbid == 2180411:
        old_series = old_series.loc[7690] 
    elif imdbid == 2386490:
        old_series = old_series.loc[9098] 
    elif imdbid == 8022928:
        old_series = old_series.loc[9114]
    
    assert not new_series.empty

    if old_series.empty:
        new += 1
        print('NEW')
        print(old_series, new_series)
        print('=============================\n\n')
    else:
        if (old_series == new_series)['rating'].item() is False:
            rating_changes += 1
            print('RATING CHANGES')
            print(old_series, new_series)
            print('=============================\n\n')
        if np.isnan(old_series['dubious'].item()) and np.isnan(new_series['dubious'].item()):
            # np.nan == np.nan returns false
            # so let's not mistaken that as dubious changes
            pass
        elif (old_series == new_series)['dubious'].item() is False:
            dubious_changes += 1
            print('DUBIOUS CHANGES')
            print(old_series, new_series)
            print('=============================\n\n')
    
print('# new movies        :', new)
print('# of rating changes :', rating_changes)
print('# of dubious changes:', dubious_changes)

NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title             Flame of My Love
year                          1949
rating                           3
dubious                          0
imdbid                       42031
id                           10135
submitterid                  19707
date           2021-11-21 05:46:58
visible                          1
Name: 669, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title            Blood for dracula
year                          1974
rating                           3
dubious                          0
imdbid                       71233
id                           10128
submitterid                  19697
date           2021-11-15 21:33:09
visible                          1
Name: 1563, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title          Showdown in Little Tokyo
year                               1991
rating                                3
dubious                               1
imdbid                           102915
id                                10117
submitterid                       19676
date                2021-11-03 16:51:01
visible                               1
Name: 2618, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title                   Leprechaun
year                          1993
rating                           1
dubious                          0
imdbid                      107387
id                           10136
submitterid                  19708
date           2021-11-21 05:59:53
visible                          1
Name: 2805, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title                Runaway Bride
year                          1999
rating                           1
dubious                          0
imdbid                      163187
id                           10142
submitterid                  19717
date           2021-11-25 06:57:27
visible                          1
Name: 3559, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title          Hysterical Blindness
year                           2002
rating                            3
dubious                           0
imdbid                       290664
id                            10141
submitterid                   19716
date            2021-11-25 02:18:44
visible                           1
Name: 4082, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title           Hebrew Hammer, The
year                          2003
rating                           2
dubious                          0
imdbid                      317640
id                           10153
submitterid                  19736
date           2021-12-06 13:42:12
visible                          1
Name: 4255, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title                   Outsourced
year                          2006
rating                           1
dubious                          0
imdbid                      425326
id                           10122
submitterid                  19685
date           2021-11-09 01:19:27
visible                          1
Name: 4941, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title          Under the Same Moon
year                          2007
rating                           3
dubious                          0
imdbid                      796307
id                           10126
submitterid                  19692
date           2021-11-12 04:55:59
visible                          1
Name: 5207, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title          National Treasure: Book of Secrets
year                                         2007
rating                                          3
dubious                                         1
imdbid                                     465234
id                                          10130
submitterid                                 19702
date                          2021-11-19 19:59:19
visible                                         1
Name: 5208, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title          Star Wars: The Clone Wars
year                                2008
rating                                 1
dubious                                0
imdbid                       1.18583e+06
id                                 10150
submitterid                        19731
date                 2021-12-01 15:09:04
visible                                1
Name: 5479, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title                  Somers Town
year                          2008
rating                           1
dubious                          0
imdbid                 1.17221e+06
id                           10160
submitterid                  19750
date           2021-12-14 06:52:07
visible                          1
Name: 5480, dtype: object
=============================


DUBIOUS CHANGES
title               Into the Woods
year                          2014
rating                           3
dubious                          1
imdbid                 2.18041e+06
id                            8702
submitterid                  17059
date           2019-04-16 13:20:45
visible                          1
Name: 7690, dtype: object title               Into the Woods
year                          2014
rating                           3
dubious                          0
imdbid                 2.18041e+06
id                            6000
submitterid                  11407
date           2014-12-24 18:26:36
visible                          1
Name: 7510, dtype: object
title           True
year            True
rating          True
dubious        False
imdbid          True
id             False
submitterid    False
date           False
visible         True
dtype: bool
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title                Red Tent, The
year                          2014
rating                           3
dubious                          0
imdbid                 3.06889e+06
id                           10156
submitterid                  19742
date           2021-12-09 16:25:57
visible                          1
Name: 7713, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title               Wiz Live!, The
year                          2015
rating                           3
dubious                          0
imdbid                 4.71877e+06
id                           10159
submitterid                  19747
date           2021-12-11 23:16:48
visible                          1
Name: 8048, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title                Tragedy Girls
year                          2017
rating                           3
dubious                          0
imdbid                 3.85927e+06
id                           10148
submitterid                  19728
date           2021-11-30 16:22:09
visible                          1
Name: 8648, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title                       Mirage
year                          2018
rating                           3
dubious                          1
imdbid                 6.90827e+06
id                           10125
submitterid                  19691
date           2021-11-12 04:13:42
visible                          1
Name: 8894, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title           Daphne &amp; Velma
year                          2018
rating                           3
dubious                          0
imdbid                 7.68905e+06
id                           10134
submitterid                  19706
date           2021-11-20 00:25:20
visible                          1
Name: 8895, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title          Strangers: Prey At Night, The
year                                    2018
rating                                     3
dubious                                    0
imdbid                           1.28501e+06
id                                     10146
submitterid                            19726
date                     2021-11-30 16:12:52
visible                                    1
Name: 8896, dtype: object
=============================


RATING CHANGES
title          How to Train Your Dragon: The Hidden World
year                                                 2019
rating                                                  3
dubious                                                 0
imdbid                                        2.38649e+06
id                                                   9624
submitterid                                         18905
date                                  2021-04-04 22:38:22
visible                                                 1
Name: 9098, dtype: object title          How to Train Your Dragon: The Hidden World
year                                                 2019
rating                                                  2
dubious                                                 0
imdbid                                        2.38649e+06
id                                                   8607
submitterid                                         16820
date                                  2019-01-18 08:56:49
visible                                                 1
Name: 8898, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title                   Marighella
year                          2019
rating                           3
dubious                          0
imdbid                 7.82521e+06
id                           10143
submitterid                  19722
date           2021-11-27 16:11:07
visible                          1
Name: 9138, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title                    Bombshell
year                          2019
rating                           3
dubious                          0
imdbid                 6.39427e+06
id                           10154
submitterid                  19738
date           2021-12-07 18:54:38
visible                          1
Name: 9139, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title           world to come, The
year                          2020
rating                           3
dubious                          0
imdbid                 9.73872e+06
id                           10127
submitterid                  19695
date           2021-11-14 20:18:35
visible                          1
Name: 9269, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title          I&#39;m Thinking of Ending Things
year                                        2020
rating                                         0
dubious                                        1
imdbid                               7.93977e+06
id                                         10140
submitterid                                19714
date                         2021-11-24 13:54:24
visible                                        1
Name: 9270, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title             Army of the Dead
year                          2021
rating                           3
dubious                          0
imdbid                      993840
id                           10113
submitterid                  19671
date           2021-10-31 02:14:58
visible                          1
Name: 9338, dtype: object
=============================


RATING CHANGES
     title    year  rating  dubious     imdbid       id  submitterid  \
9319  Dune  2021.0     2.0      0.0  1160419.0  10052.0      19545.0

                     date  visible
9319  2021-09-16 08:04:46      1.0   title                         Dune
year                          2021
rating                           3
dubious                          0
imdbid                 1.16042e+06
id                           10052
submitterid                  19545
date           2021-09-16 08:04:46
visible                          1
Name: 9343, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title          Harder They Fall, The
year                            2021
rating                             3
dubious                            0
imdbid                   1.06968e+07
id                             10123
submitterid                    19687
date             2021-11-09 21:46:49
visible                            1
Name: 9351, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title                      Passing
year                          2021
rating                           3
dubious                          0
imdbid                 8.89397e+06
id                           10121
submitterid                  19684
date           2021-11-08 09:11:26
visible                          1
Name: 9352, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title                  Night Teeth
year                          2021
rating                           2
dubious                          0
imdbid                 1.07638e+07
id                           10114
submitterid                  19672
date           2021-10-31 20:47:12
visible                          1
Name: 9354, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title                        Borga
year                          2021
rating                           3
dubious                          0
imdbid                 5.49281e+06
id                           10120
submitterid                  19682
date           2021-11-06 01:00:23
visible                          1
Name: 9355, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title                     Eternals
year                          2021
rating                           3
dubious                          0
imdbid                  9.0324e+06
id                           10118
submitterid                  19679
date           2021-11-05 11:18:45
visible                          1
Name: 9356, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title           Last Night in Soho
year                          2021
rating                           3
dubious                          0
imdbid                 9.63947e+06
id                           10116
submitterid                  19674
date           2021-11-03 01:22:47
visible                          1
Name: 9358, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title          French Dispatch, The
year                           2021
rating                            3
dubious                           0
imdbid                  8.84771e+06
id                            10115
submitterid                   19673
date            2021-11-03 01:15:13
visible                           1
Name: 9359, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title           Lost Daughter, The
year                          2021
rating                           3
dubious                          0
imdbid                 9.10005e+06
id                           10129
submitterid                  19698
date           2021-11-16 08:41:37
visible                          1
Name: 9360, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title          Eye of the Beholder
year                          2021
rating                           3
dubious                          0
imdbid                  1.5526e+07
id                           10132
submitterid                  19704
date           2021-11-19 22:41:23
visible                          1
Name: 9361, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title                 Petite Maman
year                          2021
rating                           3
dubious                          0
imdbid                 1.32045e+07
id                           10144
submitterid                  19724
date           2021-11-29 14:38:11
visible                          1
Name: 9363, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title          Beatles: Get Back, The
year                             2021
rating                              3
dubious                             1
imdbid                    9.73532e+06
id                              10145
submitterid                     19725
date              2021-11-30 15:06:30
visible                             1
Name: 9364, dtype: object
=============================


NEW
Empty DataFrame
Columns: [title, year, rating, dubious, imdbid, id, submitterid, date, visible]
Index: [] title          There&#39;s Someone Inside Your House
year                                            2021
rating                                             3
dubious                                            0
imdbid                                   8.15081e+06

# Update to the latest dataset

`Bechdel.csv` is very easy to update. 2 commands is all it takes. 

`Bechdel_detailed.csv` is much harder. I do not want to wait for 7 hours every time I update the dataset. So, how can I build upon the old dataset and modify it?

What needs to be updated?

- New movies for sure
- Dubious movies might not be dubious anymore (I don't think movies that are not dubious are going to be converted back to dubious)
- Ratings might change

In [48]:
latest_bechdel

      rating                       title    imdbid  year     id
0          0            Passage de Venus   3155794  1874   9602
1          0           La Rosace Magique  14495706  1877   9804
2          0  Sallie Gardner at a Gallop   2221420  1878   9603
3          0           Le singe musicien  12592084  1878   9806
4          0     Athlete Swinging a Pick   7816420  1881   9816
...      ...                         ...       ...   ...    ...
9368       2                   Love Hard  10752004  2021  10152
9369       3                     Cruella            2021  10155
9370       3             West Side Story   3581652  2021  10157
9371       3     Every Time a Bell Rings  15943414  2021  10158
9372       3          Single All The Way  14315756  2021  10161

[9373 rows x 5 columns]

In [37]:
for index, imdbid in latest_bechdel['imdbid'].iteritems():
    latest_bechdel_row = latest_bechdel.loc[index]

0.0